<h1>Are you sure you wish to {{message}} ?</h1>
<form>
  <input type="text" placeholder="Enter egg name" value="{{egg.name}}" required> <br>
  <input type="url" placeholder="Enter photo URL" value="{{egg.photo}}" required> <br>
  <input type="text" placeholder="Enter Administrator password" required> <br>
  <button class="app-button" type="submit"> <img src="/images/submit.svg"> </button>
</form>