<h1>Are you sure you wish to delete the {{collection}} {{name}} ?</h1>
<form>
  <input type = "text" name = "password" required
    placeholder = "Enter Administrator password here">
  <button class = "app-button" type = "submit"> 
    <img src = "/images/submit.svg" alt = "delete">
  </button>
</form>
