div.action-container > button > img {
  width:80%;
}

div.action-container > button {
  background-color:#a52a2a;
  border-radius:50%;
  border:none;
  padding:5px;
  margin:5px;
  width:15%;
}

div.content-container > img {
  border-radius:10px;
  width:85%;
}


div.egg-container{
  box-shadow:5px 5px 5px #000;
  background-color:#141414;
  border-radius:10px;
  padding:10px;
  margin:10%;
  width:70%;
}

div.page-container{
  grid-template-columns: 20% 20% 20% 20% 20%;
  display:grid;
}




